.main-header{
    color: var(--font-color1);
    font-family: var(--font1);
    background-color: var(--background-color1);
    height: 60px;
    width: calc(100% - 70px);
    display: flex;
    align-items: center;
    position: absolute;
    left: 70px;
}

.main-header .header-btn-menu{
    display: none;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}

.main-header .text-menu{
    font-size: 28px;
    font-weight: 600;
    cursor: default;
}